* {
  box-sizing: border-box;
}
.header {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 22px 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

h2{
  font-size: 0.75rem;
  font-weight: normal ;
}

.nav_logo {
  width: 82.02px;
  height: 25.35px;
}

.hero_element {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.hero_photo {
  width: 395.91px;
  height: 232px;
  align-self: center;
}
.hero_title {
  font-weight: bold;
  font-size: 36px;
}
.hero_desc {
  font-size: 16px;
  width: 70%;
}
.course_image {
  width: 176px;
  height: 235px;
  border-radius: 9px;
}
.courses_component{
  margin-left: 37px;
  font-size: 0.75rem;
}
.course_info {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.course_star_image {
  width: 14px;
  height: 14px;
}
.course_info  > span{
  display: flex;
  align-items: center;
  font-size: 12px;
  margin: 0 2px;
}
.course_info  
> .course_count_students, .course_country{
  color: #918E9B;
}
.course_title {
  margin-top: 3px;
  margin-bottom: 3px;
}
.course_price {
  margin-top: 3px;
}
.bold {
  font-weight: bold;
}
body {
  margin: 0;
  font-family: Poppins
}